*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
}

body{
    text-align: center;

}
.navbar {
    overflow: hidden;
    margin-top: -25px;
    background-color: coral;
}

.navbar a {
    background-color: coral;
    float: left;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
}

.navbar a:hover {
    background-color: black;
    color: white;
}


.icon{
    padding:0 10px;
    display: inline;
}

.background-head{
    background-color: black;
    margin-top: -30px;
    /* height: 200px; */
}

h1{
    color: coral;
    margin-top: 60px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 50px;
    width: 30%;
}


a{
    margin-top: 20px;
    text-decoration: none;
    height: 40px;
    width: 35px;
    border-radius: 5px;
}

h3{
    color: coral;
    margin-top: 80px;
    text-decoration: underline;
    font-weight: bolder;
}

ul{
    margin-top: 10px;
}

li{
    padding: 10px 30px;
}


/* projects.html */
.projectTitle{
    margin-top: 40px;
}

.projectContainer{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    padding: 20px;
    margin: 20px;
    font-size: xx-large;
}

.project{
    height:300px;
    width: 450px;
    background-color: coral;
    /* padding: 10px; */
    margin: 20px;
}

.projectName{
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}